@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loader
{
    position: relative;
    width: 400px;
    height: 400px;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #fff;
    pointer-events: none;
    animation: animate 8s linear infinite;
}

.loader span:nth-child(1)
{
    animation-direction: reverse;
    border-radius: 72% 35% 65% / 59% 50% 50% 41% 
}

.loader span:nth-child(2)
{
    animation-duration: 4s;
    border-radius: 44% 56% 53% 47% / 51% 33% 67% 49% ;
}

.loader span:nth-child(3)
{
    border-radius: 77% 23% 70% 30% / 32% 52% 48% 68% ;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.loader h2
{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}